@*后台返回参数*@
@{
  
}

<!--  内容  -->
<div class="pageContent">
    <div class="pageFormContent" layouth="36" style="padding: 0; margin: 0 auto;">
        <!-- 新增维护记录 -->
        <table class="formTable" style="margin-top: 7px; padding: 0; width: 99% !important;
            width: 97%;">
            <thead>
                <tr>
                    <td class="tbtitle" colspan="5" style="text-align: left">
                        新增维护记录
                    </td>
                </tr>
            </thead>
            <tr>
                <th>
                    记录主题：
                </th>
                <td colspan="3">
                    <input type="text" name="Tiltle" class="required " size="70" value="" />
                </td>
            </tr>
            <tr>
                <th>
                    维护事件名：
                </th>
                <td >
                    @Html.DropDownList("SjType", null, "", new { @style = "width:120px" }) 
                    <select>
                        <option>-请选择-</option>
                        <option>物理链路</option>
                        <option>综合布线</option>
                    </select>
                </td>

            </tr>
            <tr>
                <th>
                    维护时间：
                </th>
                <td>
                    <input type="text" class="Wdate required"  onfocus="WdatePicker({dateFmt:'yyyy-MM-dd'})" />
                </td>
            </tr>
            <tr>
                <th>
                    记录主题描述：
                </th>
                <td>
                    <textarea rows="10" style="width: 98%;" name="Content"></textarea>
                </td>
            </tr>
        </table>
        <br />
    </div>
</div>
<div class="formBar">
    <ul>
        
        <li>
            <div class="button">
                <div class="buttonContent">
                    <button type="button" class="close">
                        关闭</button>
                </div>
            </div>
        </li>
    </ul>
</div>
