.panelBar .toolBar a.detail span { background: url(../Images/ToolBarButton/detail.png) no-repeat scroll left center transparent; }

.panelBar .toolBar a.print span { background: url(../Images/ToolBarButton/print.png) no-repeat scroll left center transparent; }

.panelBar .toolBar a.audit span { background: url(../Images/ToolBarButton/audit.png) no-repeat scroll left center transparent; }

.panelBar .toolBar a.view span { background: url(../Images/ToolBarButton/view.png) no-repeat scroll left center transparent; }

.panelBar .toolBar a.task span { background: url(../Images/ToolBarButton/task.png) no-repeat scroll left center transparent; }

.panelBar .toolBar a.back span { background: url(../Images/ToolBarButton/back.png) no-repeat scroll left center transparent; }

.panelBar .toolBar a.summary span { background: url(../Images/ToolBarButton/summary.png) no-repeat scroll left center transparent; }

.panelBar .toolBar a.date span { background: url(../Images/ToolBarButton/date.png) no-repeat scroll left center transparent; }

.panelBar .toolBar a.siteinspect span { background: url(../Images/ToolBarButton/siteinspect.png) no-repeat scroll left center transparent; }

.panelBar .toolBar a.finish span { background: url(../Images/ToolBarButton/finish.png) no-repeat scroll left center transparent; }

.panelBar .toolBar a.sign span { background: url(../Images/ToolBarButton/sign.png) no-repeat scroll left center transparent; }

.panelBar .toolBar a.transfer span { background: url(../Images/ToolBarButton/next.png) no-repeat scroll left center transparent; }

.panelBar .toolBar a.setpermission span { background: url(../Images/ToolBarButton/permission.png) no-repeat scroll left center transparent; }

.panelBar .toolBar a.setrole span { background: url(../Images/ToolBarButton/role.png) no-repeat scroll left center transparent; }

.panelBar .toolBar a.import span, .panelBar .toolBar a.export span, .panelBar .toolBar a.reconciliationimport span { background: url(../Images/ToolBarButton/import.png) no-repeat scroll left center transparent; }

.panelBar .toolBar a.cancel span { background: url(../Images/ToolBarButton/cancel.png) no-repeat scroll left center transparent; }

.panelBar .toolBar a.notice span { background: url(../Images/ToolBarButton/notice.png) no-repeat scroll left center transparent; }

.panelBar .toolBar a.bill span { background: url(../Images/ToolBarButton/bill.png) no-repeat scroll left center transparent; }

.panelBar .toolBar a.pigeonhole span { background: url(../Images/ToolBarButton/pigeonhole.png) no-repeat scroll left center transparent; }

.panelBar .toolBar a.notice1 span { background: url(../Images/ToolBarButton/notice1.png) no-repeat scroll left center transparent; }

.panelBar .toolBar a.download span { background: url(../Images/ToolBarButton/download.png) no-repeat scroll left center transparent; }

.panelBar .toolBar a.upload span { background: url(../Images/ToolBarButton/upload.png) no-repeat scroll left center transparent; }

.panelBar .toolBar a.changestatus span { background: url(../Images/ToolBarButton/changestatus.png) no-repeat scroll left center transparent; }

.panelBar .toolBar a.commit span { background: url(../Images/ToolBarButton/commit.png) no-repeat scroll left center transparent; }

.panelBar .toolBar a.archive span { background: url(../Images/ToolBarButton/archive.png) no-repeat scroll left center transparent; }

.panelBar .toolBar a.zip span { background: url(../Images/ToolBarButton/zip.png) no-repeat scroll left center transparent; }

.panelBar .toolBar a.situation span { background: url(../Images/ToolBarButton/Situation.png) no-repeat scroll left center transparent; }

.panelBar .toolBar a.modifydevice span { background: url(../Images/ToolBarButton/ModifyDevice.png) no-repeat scroll left center transparent; }
.panelBar .toolBar a.reportprocess span { background: url(../Images/ToolBarButton/ReportProcess.png) no-repeat scroll left center transparent; }
.panelBar .toolBar a.close span { background: url(../Images/ToolBarButton/close.png) no-repeat scroll left center transparent; }

.panelBar .toolBar a.setperson span { background: url(../Images/DeptGroup.png) no-repeat scroll left center transparent; }
.panelBar .toolBar a.setpermission span { background: url(../Images/viewtable.png) no-repeat scroll left center transparent; }
.panelBar .toolBar a.datapermission span { background: url(../Images/basic.png) no-repeat scroll left center transparent; }
.panelBar .toolBar a.setpassword span { background: url(../Images/edithelp.png) no-repeat scroll left center transparent; }
.panelBar .toolBar a.setrole span { background: url(../Images/nodeset.png) no-repeat scroll left center transparent; }
.panelBar .toolBar a.expandinfo span { background: url(../Images/edithelp.png) no-repeat scroll left center transparent; }
.panelBar .toolBar a.changestatus span { background: url(../Images/changestatus.png) no-repeat scroll left center transparent; }
.panelBar .toolBar a.reload span { background: url(../Images/reload.png) no-repeat scroll left center transparent; }
.panelBar .toolBar a.twodcode span { background: url(../Images/twodcode.png) no-repeat scroll left center transparent; }
.panelBar .toolBar a.template span { background: url(../Images/folder17.png) no-repeat scroll left center transparent; }

/* Mes模块 */
.panelBar .toolBar a.reload span { background: url(../Images/ToolBarButton/Mes/reload.png) no-repeat scroll left center transparent; }
.panelBar .toolBar a.look span { background: url(../Images/ToolBarButton/Mes/Look.png) no-repeat scroll left center transparent; }
.panelBar .toolBar a.reply span { background: url(../Images/ToolBarButton/Mes/Reply.png) no-repeat scroll left center transparent; }
.panelBar .toolBar a.turn span { background: url(../Images/ToolBarButton/Mes/Turn.png) no-repeat scroll left center transparent; }
.panelBar .toolBar a.write span { background: url(../Images/ToolBarButton/Mes/Write.png) no-repeat scroll left center transparent; }
.panelBar .toolBar a.cancel span { background: url(../Images/ToolBarButton/Mes/cancel.png) no-repeat scroll left center transparent; }
.panelBar .toolBar a.send span { background: url(../Images/ToolBarButton/Mes/send.png) no-repeat scroll left center transparent; }
.panelBar .toolBar a.save span { background: url(../Images/ToolBarButton/Mes/save.png) no-repeat scroll left center transparent; }

.panelBar .toolBar a.refresh span { background: url(../Images/ToolBarButton/refresh.png) no-repeat scroll left center transparent; }
.panelBar .toolBar a.offshelf span { background: url(../Images/ToolBarButton/arrow_down_16.png) no-repeat scroll left center transparent; }
.panelBar .toolBar a.onshelf span { background: url(../Images/ToolBarButton/arrow_up_16.png) no-repeat scroll left center transparent; }

.panelBar .toolBar a.OrderRecover span { background: url(../Images/forward.png) no-repeat scroll left center transparent; }

