@*后台返回参数*@
@{
  
}
<form method="post" id="pageForm" action="@Url.Action("DoEdit", "MaintainEvents", new { area = "DailyAffairs" })" class="pageForm required-validate" onsubmit="return validateCallback(this, dialogAjaxDone);">
<!--  内容  -->
<div class="pageContent">
    <div class="pageFormContent" layouth="36" style="padding: 0; margin: 0 auto;">
        <!-- 事件维护 -->
        <table class="formTable" style="margin-top: 7px; padding: 0; width: 99% !important;
            width: 97%;">
            <thead>
                <tr>
                    <td class="tbtitle" colspan="5" style="text-align: left">
                        事件维护
                    </td>
                </tr>
            </thead>
            <tr>
                <th>
                    事件名称：
                </th>
                <td colspan="3">
                    <input type="text" name="Tiltle" class="required " size="70" value="安全系统硬件 " />
                </td>
            </tr>
            <tr>
                 <th>
                    维护类型：
                </th>
                <td >
                    @Html.DropDownList("SjType", null, "--请选择--", new { @style = "width:120px" }) 
                </td>

            </tr>
            <tr>
                <th>
                    事件描述：
                </th>
                <td>
                    <textarea rows="10" style="width: 98%;" name="Content">安全设备的硬件故障 </textarea>
                </td>
            </tr>
        </table>
        <br />
    </div>
</div>
<div class="formBar">
    <ul>
        <li>
            <div class="buttonActive">
                <div class="buttonContent">
                    <button type="submit">
                        保存</button>
                </div>
            </div>
        </li>
        <li>
            <div class="button">
                <div class="buttonContent">
                    <button type="button" class="close">
                        关闭</button>
                </div>
            </div>
        </li>
    </ul>
</div>
</form>
