
		<!-- Add.aspx -->

		<table cellSpacing="0" cellPadding="0" width="100%" border="0">
				<tr><th height="25" width="30%" align="right">		
		 任务编号：</th>
        <td height="25" width="*" align="left">
                                <input type='text' id="txtId" runat="server" Width="200px"></input>
             
        </td></tr>
				<tr><th height="25" width="30%" align="right">		
		 结束时间：</th>
        <td height="25" width="*" align="left">
                                <input type='text' id="txtEndtime" runat="server" Width="200px"></input>
             
        </td></tr>
				<tr><th height="25" width="30%" align="right">		
		 循环方式：</th>
        <td height="25" width="*" align="left">
                                <input type='text' id="txtLoopCategory" runat="server" Width="200px"></input>
             
        </td></tr>
				<tr><th height="25" width="30%" align="right">		
		 创建人：</th>
        <td height="25" width="*" align="left">
                                <input type='text' id="txtCreatorId" runat="server" Width="200px"></input>
             
        </td></tr>
				<tr><th height="25" width="30%" align="right">		
		 创建时间：</th>
        <td height="25" width="*" align="left">
                                <input type='text' id="txtCreateOn" runat="server" Width="200px"></input>
             
        </td></tr>
				<tr><th height="25" width="30%" align="right">		
		 修改人：</th>
        <td height="25" width="*" align="left">
                                <input type='text' id="txtUpdaterId" runat="server" Width="200px"></input>
             
        </td></tr>
				<tr><th height="25" width="30%" align="right">		
		 修改时间：</th>
        <td height="25" width="*" align="left">
                                <input type='text' id="txtLastUpdateOn" runat="server" Width="200px"></input>
             
        </td></tr>
				<tr><th height="25" width="30%" align="right">		
		 是否个人安排：</th>
        <td height="25" width="*" align="left">
                        <input type='checkbox' ID="chkIsPersonal" Text="是否个人安排" runat="server" Checked="False" />
                <input type='text' id="txtIsPersonal" runat="server" Width="200px"></input>
             
        </td></tr>
				<tr><th height="25" width="30%" align="right">		
		 任务主题：</th>
        <td height="25" width="*" align="left">
                                <input type='text' id="txtSubject" runat="server" Width="200px"></input>
             
        </td></tr>
				<tr><th height="25" width="30%" align="right">		
		 日程分类：</th>
        <td height="25" width="*" align="left">
                                <input type='text' id="txtCategory" runat="server" Width="200px"></input>
             
        </td></tr>
				<tr><th height="25" width="30%" align="right">		
		 任务内容：</th>
        <td height="25" width="*" align="left">
                                <input type='text' id="txtContent" runat="server" Width="200px"></input>
             
        </td></tr>
				<tr><th height="25" width="30%" align="right">		
		 执行人列表：</th>
        <td height="25" width="*" align="left">
                                <input type='text' id="txtDoerNoList" runat="server" Width="200px"></input>
             
        </td></tr>
				<tr><th height="25" width="30%" align="right">		
		 监督人编号：</th>
        <td height="25" width="*" align="left">
                                <input type='text' id="txtSupervisorNo" runat="server" Width="200px"></input>
             
        </td></tr>
				<tr><th height="25" width="30%" align="right">		
		 指派状态：</th>
        <td height="25" width="*" align="left">
                                <input type='text' id="txtAppointStatus" runat="server" Width="200px"></input>
             
        </td></tr>
				<tr><th height="25" width="30%" align="right">		
		 备注：</th>
        <td height="25" width="*" align="left">
                                <input type='text' id="txtRemark" runat="server" Width="200px"></input>
             
        </td></tr>
				<tr><th height="25" width="30%" align="right">		
		 开始时间：</th>
        <td height="25" width="*" align="left">
                                <input type='text' id="txtStarttime" runat="server" Width="200px"></input>
             
        </td></tr>
				<script src="/js/calendar1.js" type="text/javascript"></script>