@using System.Collections
@using System.Web.UI.WebControls
<div class="page">
    <div class="pageContent">
        <div class="pageFormContent" layouth="60">
            <table class="formTable" class="select_list_set" style="margin-bottom: 10px;">
                <tbody>
                    <tr class="title">
                        <td colspan="5">
                           网络硬盘文件夹
                        </td>
                    </tr>
                  
                    <tr>
                        <th>
                            文件夹名称：
                        </th>
                        <td  colspan="3">
                            通讯录
                        </td>
                    </tr>
                     <tr>
                        <th>
                            文件夹大小：
                        </th>
                         <td>
                             3000M 
                         </td>
                         <th>
                            最后修改时间：
                        </th>
                        <td>
                           2014-11-05 16:34
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="formBar">
            <ul>
                
                <li>
                    <div class="button">
                        <div class="buttonContent">
                            <button type="button" class="close">
                                关闭</button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
