@*后台返回参数*@
@{
  
}

<form method="post" id="pageForm" action="@Url.Action("DoCreate", "JobDailyRecord", new { area = "JobArrangements" })" class="pageForm required-validate" onsubmit="return validateCallback(this, navTabAjaxDone);">
<!--  内容  -->
<div class="pageContent">
    <div class="pageFormContent" layouth="36" style="padding: 0; margin: 0 auto;">
           
            <!-- 基本参数 -->
            <table class="formTable" style="margin-top: 7px; padding: 0; width: 99% !important;
                width: 97%;">
                <thead>
                    <tr>
                        <td class="tbtitle" colspan="5" style="text-align: left">
                            基本参数
                        </td>
                    </tr>
                </thead>
                
                <tr>
                    <th>
                        资产种类：
                    </th>
                    <td colspan="3">
                        <select name="" id="" class="required" onchange="showDeviceBasicInfo()">
                            <option value="" selected="selected">--请选择--</option>
                            <option value="1">交换机</option>
                            <option value="2">路由器</option>
                            <option value="3">防火墙</option>
                        </select>
                    </td>
                    
                    <td rowspan="5" style="padding: 5px; text-align: center; width: 120px; background-color: #EEF2F6">
                        <img src="" id="picshow" alt="电子照片" style="width: 130px; height: 136px; background: #ffffff;
                            margin: 0 auto; display: block; float: none;" />
                        <a href="javascript:;" class="files" style="display: inline-block; margin-top: 4px;">
                            <input type="file" id="fileUpload" name="fileUpload" onchange="SingleUpload(this);" /></a>
                        <input type="hidden" name="Photo" id="PhotoHead" value="" />
                        @* @Html.ImgUploadMutil(dir: "brandlogo", key: "BrandLogo", showListId: head + type.ID, initType: "InitSWFUploadSingle")*@
                    </td>
                </tr>
                <tr>
                    <th>
                        资产编号：
                    </th>
                    <td colspan="3">
                        <input type="text" name="Tiltle" class="required " size="30" value="" />
                    </td>
                    
                    
                </tr>
                
                <tr>
                    <th>
                        资产品牌：
                    </th>
                    <td colspan="3">
                        <input type="text" name="Tiltle" class="required " size="30" value="" />
                    </td>
                </tr>
                
                <tr>
                    <th>
                        资产序号：
                    </th>
                    <td >
                        <input type="text" name="Tiltle" class="required " size="30" value="" />
                    </td>
                    
                    <th>
                        分配IP：
                    </th>
                    <td >
                        <input type="text" name="Tiltle" class="required " size="30" value="" />
                    </td>
                </tr>
                
                
                <tr>
                    <th>
                        登陆用户名：
                    </th>
                    <td >
                        <input type="text" name="Tiltle" class="required " size="30" value="" />
                    </td>
                    
                    <th>
                        登陆密码：
                    </th>
                    <td>
                        <input type="text" name="Tiltle" class="required " size="30" value="" />
                    </td>
                </tr>
                

                
                <tr>
                    <th>
                        重要资产：
                    </th>
                    <td colspan="4">
                        <input type="checkbox" checked="" name="Tiltle"   value="" />是否设置为重要资产
                    </td>
                </tr>

                
                
               <!-- 供货维护-->
                <tr>
                    <td colspan="5" class="tbtitle" style="text-align: left">
                        供货维护
                    </td>
                </tr>
               
                
                <tr>
                    <th>
                        供应单位：
                    </th>
                    <td colspan="4">
                        <select name="" id="" class="required">
                            <option value="" selected="selected">--请选择--</option>
                            <option value="1">自行采购</option>
                            <option value="2">供应商-ZY-001</option>
                            <option value="3">供应商-ZY-002</option>
                        </select>
                    </td>
                </tr>
                
                <tr>
                    <th>
                        维护商：
                    </th>
                    <td colspan="4">
                        <select name="" id="" class="required">
                            <option value="" selected="selected">--请选择--</option>
                            <option value="1">自行维护</option>
                            <option value="2">维护商-ZY-001</option>
                            <option value="3">维护商-ZY-002</option>
                        </select>
                    </td>
                </tr>

                <tr>
                    <th>
                        维护时间：
                    </th>
                    <td colspan="4">
                        <label style="width: 15px">从</label><input type="text" class="Wdate required" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd'})" /><label style="width: 15px">到</label><input type="text" class="Wdate required" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd'})" />
                    </td>
                </tr>
                

                
                    <th colspan="5" class="tbtitle" style="text-align: left">
                        客户信息
                    </th>
                

                <tr>
                    <th>
                        选择客户：
                    </th>
                    <td colspan="4">
                        <select onchange="toggleCompanyInfo()" name="" id="" class="required">
                            <option value="" selected="selected">--请选择--</option>
                            <option value="1">卫生局</option>
                            <option value="2">审计局</option>
                            <option value="3">审批中心</option>
                        </select>
                    </td>
                </tr>
                <tr class="companyInfo">
                    <th></th>
                    <td colspan="4">
                               <table  style="width: 100%">
                                   <tr>
                                      <th style="width: 10%">单位地址：</th><td colspan="3">金山区龙山路555号金山公共服务中心4楼</td>
                                   </tr>
                                   <tr>
                                       <th >单位电话：</th><td>57921418</td><th>单位简写：</th><td>信息委</td>
                                   </tr>
                               </table>
                           </td>
                </tr>
                    
                
                <tr>
                    <td colspan="5" class="tbtitle" style="text-align: left">
                        其他信息
                    </td>
                </tr>
                
                
                <tr>
                    <th>
                        所在机房\办公室：
                    </th>
                    <td colspan="4">
                        <select name="" id="" class="required">
                            <option value="" selected="selected">--请选择--</option>
                            <option value="1">机房</option>
                            <option value="2">办公室</option>
                        </select><select name="" id="" class="required">
                                     <option value="" selected="selected">--请选择--</option>
                                     <option value="1">区中心机房-01</option>
                                     <option value="2">区中心机房-02</option>
                                     <option value="3">区中心机房-03</option>
                                 </select><select name="" id="" class="required">
                                              <option value="" selected="selected">--请选择--</option>
                                              <option value="1">第三排机架-01</option>
                                              <option value="2">第三排机架-02</option>
                                              <option value="3">第三排机架-03</option>
                                          </select>
                    </td>
                </tr>

                    <tr>
                    <th>当前状态</th>
                    <td colspan="4">
                        <select name="" id="" class="required">
                                              <option value="" selected="selected">--正常--</option>
                                              <option value="1">报废</option>
                                              <option value="2">借出</option>
                                              <option value="3">借入</option>
                                          </select>

                    </td>
                </tr>


                <tr>
                    <th>
                        备注：
                    </th>
                    <td colspan="4">
                        <textarea rows="10" style="width: 98%;" name="Content"></textarea>
                    </td>
                </tr>
                
                <tr>
                    <td colspan="5" class="tbtitle" style="text-align: left">
                        相关附件
                    </td>
                </tr>
                
                <tr>
                    <th>
                        选择附件：
                    </th>
                    <td colspan="4">
                        @Html.UploadFile("AttachmentId","",400,true,true)
                    </td>
                </tr>
                
                <tr>
                    <th>
                        
                    </th>
                    <td colspan="4">
                        <input type="checkbox" checked="" name="Tiltle"   value="" />是否上传到磁盘共享
                    </td>
                </tr>
                
                <!--基本信息-->
                <tr>
                    <td colspan="5">
                    <table class="basicInfo" style="width:100%">
                        <tr>
                            <td class="tbtitle" colspan="5">基本信息</td>
                        </tr>
                        <tr>
                            <th>序列号：</th><td><input type="text" size="25" class="required"/></td>
                            <th>备注：</th><td><input type="text" size="60"/></td>
                        </tr>
                        <tr>
                            <th>主要用途：</th><td><input type="text" size="25" class="required"/></td>
                            <th>备注：</th><td><input type="text" size="60"/></td>
                        </tr>

                        <tr>
                            <th>设备名称：</th><td><input type="text" size="25" class="required"/></td>
                            <th>备注：</th><td><input type="text" size="60"/></td>
                        </tr>
                        <tr>
                            <th>设备型号：</th><td><input type="text" size="25" class="required"/></td>
                            <th>备注：</th><td><input type="text" size="60"/></td>
                        </tr>
                        <tr>
                            <th>序列号：</th><td><input type="text" size="25" class="required"/></td>
                            <th>备注：</th><td><input type="text" size="60"/></td>
                        </tr>
                    </table>
                    </td>
                </tr>
            </table>
            <br />
    </div>
</div>
<div class="formBar">
    <ul>
        <li>
            <div class="buttonActive">
                <div class="buttonContent">
                    <button type="button" class="close">
                        保存</button>
                </div>
            </div>
        </li>
        <li>
            <div class="button">
                <div class="buttonContent">
                    <button type="button" class="close">
                        关闭</button>
                </div>
            </div>
        </li>
    </ul>
</div>
</form>

<script type="text/javascript">
    $(function () {
        $(".basicInfo").hide();
        $(".companyInfo").hide();
    });

    function showDeviceBasicInfo() {
        $(".basicInfo").toggle();
    }

    function toggleCompanyInfo() {
        $(".companyInfo").toggle();
    }
</script>