 <div style="height:600px; margin-top:5px; overflow:scroll !important;" rel="JobArrangementsJobDailyRecordDetail1">
      <div id='OnDutycalendarSelf' />
 </div>




<script type="text/javascript">

    function openEditDialog3(start, end,state) {
        $.pdialog.open('@Url.Action("_OnDuty", "JobArrangements", new { area = "JobArrangements" })', "OnDutycalendarSelf", "值班安排", { width: 700, height: 500, mask: true });

        if (state == 1) {
            var title = "网络维修";
            var eventData;
            if (title) {
                eventData = {
                    title: title,
                    start: start,
                    end: end,
                    event_id: '这是我的工作安排的Id，请和数据库中相关信息关联起来'
                };
                $('#OnDutycalendarSelf').fullCalendar('renderEvent', eventData, true); // stick? = true
            }
        }
        $('#OnDutycalendarSelf').fullCalendar('unselect');
    }

    $(document).ready(function () {

        $('#OnDutycalendarSelf').fullCalendar({
            theme: true,
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,agendaWeek,agendaDay'
            },
            /* defaultDate: '2014-09-12', */
            selectable: true,
            selectHelper: true,
            lang: 'zh-cn',
            /*select: function (start, end) {
                openEditDialog3(start, end);
            },*/
            eventClick: function (event) {
                openEditDialog3(new Date, new Date,0);

            },
            editable: false,
            eventLimit: true, // allow "more" link when too many events
            events: [
				{
				    title: '维修1处网络',
				    start: '2014-11-01',
				    event_id: '11200-112-12-1-2-12-2',
				    className: 'eventColorOnDutySelf'
				},
				
                {
                    title: '维修3处网络',
                    start: '2014-11-03',
                    event_id: 'xxseae-sf-sdf--sdf',
                    className: 'eventColorOnDutySelf'
                }
			]
        });




    });
</script>