@*后台返回参数*@
@{
  
}
<!--  内容  -->
<div class="pageContent">
    <div class="pageFormContent" layouth="36" style="padding: 0; margin: 0 auto;">
        <!-- 机房管理 -->
        <table class="formTable" style="margin-top: 7px; padding: 0; width: 99% !important;
            width: 97%;">
            <thead>
                <tr>
                    <td class="tbtitle" colspan="5" style="text-align: left">
                        机房管理
                    </td>
                </tr>
            </thead>
            <tr>
                <th>
                    机房名称：
                </th>
                <td>
                   区中心机房
                </td>
                <th>
                    机房编号：
                </th>
                <td>
                  1
                </td>
            </tr>
            <tr>
                <th>
                    机房描述：
                </th>
                <td colspan="3">
                    <textarea rows="10" style="width: 98%;" name="Content">金山区政府公共服务中心4楼中心机房</textarea>
                </td>
            </tr>
            <tr>
                <th>
                    类型：
                </th>
                <td >
                   机房
                </td>
                <th>
                    电话：
                </th>
                <td >
                    57921418
                </td>
            </tr>
             <tr>
                <th>
                    地址描述：
                </th>
                <td colspan="3">
                    <textarea rows="10" style="width: 98%;" name="Content">金山区金山大道2000号金山区政府大楼4楼</textarea>
                </td>
            </tr>
        </table>
        <br />
    </div>
</div>
<div class="formBar">
    <ul>
       
        <li>
            <div class="button">
                <div class="buttonContent">
                    <button type="button" class="close">
                        关闭</button>
                </div>
            </div>
        </li>
    </ul>
</div>
