.eventColorAssigned
{
    background-color:#cc22ff;
}

.eventColorSelf
{
    background-color:#3a87ad;/* д╛хо*/
}

.eventColorOnDuty
{
    background-color:#22cc00;
}
.eventColorOnDutySelf
{
    background-color:#aa0c88;
}
