@*后台返回参数*@
@{
  
}
<!--  内容  -->
<div class="pageContent">
    <div class="pageFormContent" layouth="36" style="padding: 0; margin: 0 auto;">
        <!-- 厂商管理 -->
        <table class="formTable" style="margin-top: 7px; padding: 0; width: 99% !important;
            width: 97%;">
            <thead>
                <tr>
                    <td class="tbtitle" colspan="5" style="text-align: left">
                        厂商管理
                    </td>
                </tr>
            </thead>
            <tr>
                <th>
                    单位名称：
                </th>
                <td colspan="3">
                   单位名称
                </td>
            </tr>
            <tr>
                <th>
                    单位电话：
                </th>
                <td>
                    12323232332
                </td>
                <th>
                    单位传真：
                </th>
                <td>
                    12321323123
                </td>
            </tr>
            <tr>
                <th>
                    单位地址：
                </th>
                <td colspan="3">
                   单位地址单位地址单位地址单位地址单位地址
                </td>
            </tr>
            <tr>
                <th>
                    单位首页：
                </th>
                <td colspan="3"> 
                   单位首页
                </td>
            </tr>
            <tr>
                <th>
                    联系人：
                </th>
                <td>
                   联系人
                </td>
                <th>
                    联系人电话：
                </th>
                <td>
                    1232323232
                </td>
            </tr>
            <tr>
                <th>
                    即时通讯：
                </th>
                <td>
                   123213123
                </td>
                <th>
                    联系人Email：
                </th>
                <td>
                    1232132@qq.com
                </td>
            </tr>
            <tr>
                <th>
                    描述：
                </th>
                <td colspan="3">
                    <textarea rows="10" style="width: 98%;" name="Content">sdafasdfsdafasdf</textarea>
                </td>
            </tr>
        </table>
        <br />
    </div>
</div>
<div class="formBar">
    <ul>
      
        <li>
            <div class="button">
                <div class="buttonContent">
                    <button type="button" class="close">
                        关闭</button>
                </div>
            </div>
        </li>
    </ul>
</div>
