@*后台返回参数*@
@{
  
}

<!--  内容  -->
<div class="pageContent">
    <div class="pageFormContent" layouth="36" style="padding: 0; margin: 0 auto;">
        <!-- 网络维护 -->
        <table class="formTable" style="margin-top: 7px; padding: 0; width: 99% !important;
            width: 97%;">
            <thead>
                <tr>
                    <td class="tbtitle" colspan="5" style="text-align: left">
                        网络维护
                    </td>
                </tr>
            </thead>
            <tr>
                <th>
                    客户单位与资产：
                </th>
                <td>
                   卫生局 -- 5-1-第一排-机架15-1
                </td>
            </tr>
            <tr>
                <th>
                    维护内容：
                </th>
                <td>
                    <textarea rows="10" style="width: 98%;" name="Content">这个需要维修，请批复</textarea>
                </td>
            </tr>
        </table>
        <br />
    </div>
</div>
<div class="formBar">
    <ul>
       
        <li>
            <div class="button">
                <div class="buttonContent">
                    <button type="button" class="close">
                        关闭</button>
                </div>
            </div>
        </li>
    </ul>
</div>
