@using System.Collections
@using System.Web.UI.WebControls
<div class="page">
    <div class="pageContent">
        <div class="pageFormContent" layouth="60">
            <table class="formTable" class="select_list_set" style="margin-bottom: 10px;">
                <tbody>
                    <!--维护信息 -->
                    <tr>
                        <td class="tbtitle">
                            使用单位信息
                        </td>
                        <td colspan="3">
                            <select onchange="toggleCompany()">
                                <option value="0">自备资产维护</option>
                                <option value="1">客户单位资产维护</option>
                            </select>
                        </td>
                    </tr>
                    <tr class="guestCompany">
                        <th>
                            单位名称：
                        </th>
                        <td style="width: 40%">
                            <input type="text" class="required" size="30" />
                            <div id="divShowSelectCase">
                                <a class="btnLook" href="javascript:void(0)" onclick="selectCompany()">选择单位</a>
                            </div>
                        </td>
                        <th>
                            单位电话:
                        </th>
                        <td>
                            7412589363
                        </td>
                    </tr>
                    <tr class="guestCompany">
                        <th>
                            单位地址：
                        </th>
                        <td colspan="3">
                            天元中路
                        </td>
                    </tr>
                    <tr class="guestCompany">
                        <th>
                            联系人：
                        </th>
                        <td>
                            741258
                        </td>
                        <th>
                            联系人电话：
                        </th>
                        <td>
                            7411258
                        </td>
                    </tr>
                    <!-- 资产信息-->
                    <tr>
                        <td colspan="4" class="tbtitle">
                            资产信息
                        </td>
                    </tr>
                    <tr>
                        <th>
                            维护资产：
                        </th>
                        <td style="width: 40%">
                            <select>
                                <option>-请选择-</option>
                                <option>5-1第一排机架23-1</option>
                                <option>5-2第一排机架23-1</option>
                                <option>5-2第一排机架23-1</option>
                            </select>
                        </td>
                        <th>
                            资产类型：
                        </th>
                        <td>
                            托管服务器
                        </td>
                    </tr>
                    <tr>
                        <th>
                            资产编号：
                        </th>
                        <td>
                            5-1-第一排机架11-1
                        </td>
                    </tr>
                    <!--基本信息-->
                    <tr>
                        <td class="tbtitle" colspan="4">
                            基本信息
                        </td>
                    </tr>
                    <tr>
                        <th>
                            维护时间：
                        </th>
                        <td>
                            <input type="text" class="Wdate required" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd'})" />
                        </td>
                        <th>
                            维护人员：
                        </th>
                        <td>
                            <div id="divShowSelectCase">
                                <a class="btnLook" href="javascript:void(0)" onclick="selectDoer()">选择人员</a>
                            </div>
                            王某某
                        </td>
                    </tr>
                    <tr>
                        <th>
                            事件类型：
                        </th>
                        <td>
                            @Html.DropDownList("SjType", null, "", new { @style = "width:120px" })
                        </td>
                        <th>
                            事件性质：
                        </th>
                        <td>
                            <select>
                                <option>-请选择-</option>
                                <option>终端软件</option>
                                <option>终端硬件</option>
                                <option>终端系统</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            维护内容描述：
                        </th>
                        <td colspan="3">
                            <textarea rows="10" style="width: 98%"></textarea>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="formBar">
            <ul>
                <li>
                    <div class="button">
                        <div class="buttonContent">
                            <button type="button" class="close">
                                关闭</button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $(".guestCompany").toggle();
    });

    function toggleCompany(o) {
        $(".guestCompany").toggle();
    }

    function selectCompany() {

        //        var personId = $("#personID", navTab.getCurrentPanel()).val();
        $.pdialog.open('@Url.Action("SelectDoer", "PlanList", new { area = "DailyAffairs" })?type=0', 'barcodeDialog', '选择公司', { width: 640, height: 520, mask: true });

    }

    function selectDoer() {

        //        var personId = $("#personID", navTab.getCurrentPanel()).val();
        $.pdialog.open('@Url.Action("SelectCompany", "DailyJob", new { area = "DailyAffairs" })?type=0', 'barcodeDialog', '选择公司', { width: 640, height: 520, mask: true });

    }
</script>
