@*后台返回参数*@
@{
  
}
<form method="post" id="pageForm" action="@Url.Action("DoCreate", "MaintainKnowledgeLibry", new { area = "DailyAffairs" })" class="pageForm required-validate" onsubmit="return validateCallback(this, dialogAjaxDone);">
<!--  内容  -->
<div class="pageContent">
    <div class="pageFormContent" layouth="36" style="padding: 0; margin: 0 auto;">
        <!-- 知识库 -->
        <table class="formTable" style="margin-top: 7px; padding: 0; width: 99% !important;
            width: 97%;">
            <thead>
                <tr>
                    <td class="tbtitle" colspan="5" style="text-align: left">
                        知识库
                    </td>
                </tr>
            </thead>
            <tr>
                <th>
                    知识库标题：
                </th>
                <td colspan="3">
                    <input type="text" name="KnowledgeTitle" class="required " size="70" value="" />
                </td>
            </tr>
            <tr>
                 <th>
                    知识库类型：
                </th>
                <td >
                    @Html.DropDownList("ZsType", null, "", new {  @style = "width:120px" }) <input type="checkbox" />置顶
                </td>

            </tr>
            <tr>
                <th>
                    知识库描述：
                </th>
                <td>
                    <textarea rows="10" style="width: 98%;" name="KnowledgeDescription"></textarea>
                </td>
            </tr>
             <tr>
                <th>
                    上传知识库附件：
                </th>
                <td>
                        @Html.UploadFile("AttachmentID", "", 400, true, true)<input type="checkbox" />是否上传知识库附件到网络硬盘
                </td>
            </tr>
        </table>
        <br />
    </div>
</div>
<div class="formBar">
            <ul>
                <li>
                    <div class="buttonActive">
                        <div class="buttonContent">
                            <button type="submit">
                                保存</button></div>
                    </div>
                    <div class="button">
                        <div class="buttonContent">
                            <button class="close">
                                关闭</button></div>
                    </div>
                </li>
            </ul>
        </div>
</form>
