@*后台返回参数*@
@{
  
}
<form method="post" id="pageForm" action="@Url.Action("DoCreate", "Firms", new { area = "ControlPannel" })" class="pageForm required-validate" onsubmit="return validateCallback(this, dialogAjaxDone);">
<!--  内容  -->
<div class="pageContent">
    <div class="pageFormContent" layouth="36" style="padding: 0; margin: 0 auto;">
        <!-- 厂商管理 -->
        <table class="formTable" style="margin-top: 7px; padding: 0; width: 99% !important;
            width: 97%;">
            <thead>
                <tr>
                    <td class="tbtitle" colspan="5" style="text-align: left">
                        新增类别
                    </td>
                </tr>
            </thead>
            <tr>
                <th>
                    类型名称：
                </th>
                <td colspan="3">
                    <input type="text" name="Tiltle" class="required " size="70" value="" />
                </td>
            </tr>
            <tr>
                <th>
                    类型描述：
                </th>
                <td>
                    <textarea rows="10" style="width: 98%"></textarea>
                </td>
            </tr>
            <tr>
                 <th>
                    类型编号：
                </th>
                <td>
                    <input type="text" name="Tiltle" class="required " size="30" value="" />
                </td>
            </tr>
            <tr>
                <th>
                    序列：
                </th>
                <td colspan="3">
                    <input type="text" name="Tiltle" class="required " size="30" value="" />
                    <div>
                        <label style="width:50px;">上级类型</label>
                        <select>
                            <option>-请选择-</option>
                            <option>一级类型</option>
                        </select>
                    </div>
                </td>
            </tr>

             <tr>
                <th>
                    属性编号：
                </th>
                <td colspan="3">
                    <input type="text" name="Tiltle" class="required " size="30" value="" />
                    <a  class="btnLook" href="javascript:void(0)" onclick="selectCompany()">选择属性编号</a>
                </td>
            </tr>
        </table>
        <br />
    </div>
</div>
<div class="formBar">
    <ul>
        <li>
            <div class="buttonActive">
                <div class="buttonContent">
                    <button type="button" class="close">
                        保存</button>
                </div>
            </div>
        </li>
        <li>
            <div class="button">
                <div class="buttonContent">
                    <button type="button" class="close">
                        关闭</button>
                </div>
            </div>
        </li>
    </ul>
</div>
</form>
